<div class="user bordered">
    <div class="user-title row" [ngStyle]="{background: genBackground(), color: 'var(--background-0)'}">
        {{user.name}}
        <div class="pull-right">
            #{{user.order}}
        </div>
    </div>
    <div class="user-data">
        <div *ngIf="user.monarch" class="monarch"></div>
        <div class="user-info row center">
            <button class="icon-button" (click)="changeLife(-5)" [disabled]="user.life == 0">-5</button>
            <button class="icon-button" (click)="changeLife(-1)" [disabled]="user.life == 0">-1</button>
            <button class="icon-button" disabled>{{user.life}}</button>
            <button class="icon-button" (click)="changeLife(1)">+1</button>
            <button class="icon-button" (click)="changeLife(5)">+5</button>
        </div>
        <div class="user-commanders bordered" *ngIf="players.length > 0">
            <div class="commander-title row">
                Player's Commander Damage
            </div>
            <div class="damage row" *ngFor="let player of players">
                Against {{player.name}}:
                <div class="row pull-right">
                    <button class="icon-button" (click)="changeCommander(player.id, -1)" [disabled]="user.commanderDamage[player.id] == 0">-1</button>
                    <button class="icon-button" disabled>{{user.commanderDamage[player.id] ?? 0}}</button>
                    <button class="icon-button" (click)="changeCommander(player.id, 1)" [disabled]="user.commanderDamage[player.id] == 21">+1</button>
                </div>
            </div>
        </div>
    </div>
</div>
