.user {
    height: fit-content;
    width: 298px;
}

.user-title {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

.user-data {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    min-height: 85px;
    padding: 1rem;

    justify-content: center;
    align-items: center;
}

.monarch {
    position: absolute;
    top: 0;
    bottom: 5rem;
    right: 1rem;
    left: 1rem;
    z-index: 1;
    background-image: url("../../../assets/svg/crown.svg");
    //background-color: var(--background-1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.user-info, .user-commanders {
    z-index: 2;
}

.commander-title {
    background: var(--foreground-0);
    color: var(--background-0);
    padding: 0.5rem;
}

.greyscale {
    filter: grayscale(1);
}

.mana {
    cursor: pointer;
}

.name, .user-order {
    color: white;
    mix-blend-mode: difference;
}

.user-commanders {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    max-height: fit-content;
    padding-bottom: 0.5rem;
}

.damage {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}
